/* .outer_progress_div {
  width: 50%;
  height: 20px;
  border: solid;
  border-radius: 25px;
}

.inner_progress_div {
  border-radius: 25px;
  height: 100%;
  background-color: aqua;
  width: 50%;
} */
